:root {
  --clr-heading: hsl(0 0% 100%);
  --clr-text: hsl(0 0% 85%);
  --clr-body: hsl(0 0% 15%);
  --clr-border-light: hsl(0 0% 75% / 50%);
  --clr-content: hsl(0 0% 30% / 50%);
  --clr-accent: hsl(185 75% 47%);
}
